html {
    position: relative;
    min-height: 100%;
}

body > #app > .container, {
    margin-bottom: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@include media-breakpoint-down(xs) {
    body > #app > .container, {
        margin-bottom: 120px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

code {
    background-color: $darken8;
    border-radius: rem-calc(4);
    padding: 0.2em 0.4em;
}

pre {
    background-color: $darken8;
    padding: $spacing-s;
    border-radius: rem-calc(4);

    > code {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }
}
