$text-sizes: (
	'xxsmall': 0.4em,
	'xsmall': 0.6em,
	'small': 0.8em,
	'large': 1.15em,
	'xlarge': 1.3em,
	'xxlarge': 1.6em,
);

@each $key, $size in $text-sizes {
	.text-#{$key} {
		font-size: #{$size};
	}
}

$text-colors: (
	'light': $grey-xxlight,
	'grey-dark': $grey-dark,
	'grey-light': $grey-light,
);

@each $key, $color in $text-colors {
	.text-#{$key} {
		color: #{$color};
	}

	a.text-#{$key}:hover {
		color: darken($color, 20%);
	}
}

.font-fancy {
	font-family: $font-family-contrast;
}
