**/.DS_Store
.env
.git
.gitattributes
.gitignore
.php_cs
.travis.yml
Capfile
destroy.sh
docker-compose.yml
Gemfile
Gemfile.lock
laravel-echo-server.json
LICENSE
log
node_modules
package-lock.json
package.json
phpunit.xml
readme.md
startup.sh
storage/logs/laravel.log
webpack.mix.js
yarn.lock
yarn-error.log
