/node_modules
public/
!public/index.php
!public/.htaccess
!public/robots.txt
!public/favicon.ico
!public/web.config
/vendor
/.idea
/.vagrant
.env
.php_cs.cache
/storage/debugbar
/storage/tmp
/storage/medialibrary
/log
