**/.DS_Store
/node_modules
provisioning/deploy.sh
public/
!public/index.php
!public/.htaccess
!public/robots.txt
!public/favicon.ico
!public/web.config
/vendor
/.idea
/.vagrant
.env
.env.production
.php_cs.cache
/storage/debugbar
/storage/tmp
/storage/medialibrary

# Capistrano
/log

# Yarn
yarn-error.log

# Use yarn.lock
package-lock.json

# Echo server lockfile
laravel-echo-server.lock
