$white:         #fff;
$black:         #000;
$grey-xxlight:  #eee;
$grey-xlight:   #ddd;
$grey-light:    #ccc;
$grey-mdark:    #444;
$grey-dark:     #333;
$grey-xdark:    #222;
$grey-xxdark:   #111;

$darken5:       rgba(0, 0, 0, 0.05);
$darken10:      rgba(0, 0, 0, 0.1);
$darken15:      rgba(0, 0, 0, 0.15);
$darken20:      rgba(0, 0, 0, 0.2);
$darken30:      rgba(0, 0, 0, 0.3);
$darken50:      rgba(0, 0, 0, 0.5);

$orange:        hsl(14,  100%, 53%);
$yellow:        hsl(48,  100%, 67%);
$green:         hsl(141, 71%,  48%);
$turquoise:     hsl(171, 100%, 41%);
$cyan:          hsl(204, 86%,  53%);
$blue:          hsl(217, 71%,  53%);
$purple:        hsl(271, 100%, 71%);
$red:           hsl(348, 100%, 61%);

$cloud-brick:   #e9afaf;
$cloud-peach:   #ffb380;
$cloud-salmon:  #ffaaaa;
$cloud-pink:    #eeaaff;

$cloud-colors: (
    $cloud-brick,
    $cloud-peach,
    $cloud-salmon,
    $cloud-pink,
);

//sunset
$sunset-yellow: #FFE460;
$sunset-orange: #FF7519;
// water
$water-blue: #60bfff;
$water-blue-dark: #26547c;

$rem-pixels: 16;

@function rem-calc($px) {
  @return 1rem * $px / $rem-pixels;
}

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$spacing-xxs: rem-calc(4);
$spacing-xs: rem-calc(8);
$spacing-s: rem-calc(12);
$spacing-m: rem-calc(20);
$spacing-l: rem-calc(30);
$spacing-xl: rem-calc(45);
$spacing-xxl: rem-calc(60);

$spacings: (
    '0': 0,
	'xxs': $spacing-xxs,
	'xs': $spacing-xs,
	's': $spacing-s,
	'm': $spacing-m,
	'l': $spacing-l,
	'xl': $spacing-xl,
	'xxl': $spacing-xxl,
);

// -----------------------------------------------------------------------------
// Sides
// -----------------------------------------------------------------------------
$sides: (
	'b': 'bottom',
	'l': 'left',
	'r': 'right',
	't': 'top'
);
