$orange:    hsl(14,  100%, 53%);
$yellow:    hsl(48,  100%, 67%);
$green:     hsl(141, 71%,  48%);
$turquoise: hsl(171, 100%, 41%);
$cyan:      hsl(204, 86%,  53%);
$blue:      hsl(217, 71%,  53%);
$purple:    hsl(271, 100%, 71%);
$red:       hsl(348, 100%, 61%);

$green-grass: rgb(75, 220, 83);

$rem-base: 16;

@function rem-calc($px) {
  @return ($px / $rem-base) * 1rem;
}

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$spacing-xxs: rem-calc(4);
$spacing-xs: rem-calc(8);
$spacing-s: rem-calc(12);
$spacing-m: rem-calc(20);
$spacing-l: rem-calc(30);
$spacing-xl: rem-calc(45);
$spacing-xxl: rem-calc(60);

$spacings: (
  '0': 0,
	'xxs': $spacing-xxs,
	'xs': $spacing-xs,
	's': $spacing-s,
	'm': $spacing-m,
	'l': $spacing-l,
	'xl': $spacing-xl,
	'xxl': $spacing-xxl,
);

// -----------------------------------------------------------------------------
// Sides
// -----------------------------------------------------------------------------
$sides: (
	'b': 'bottom',
	'l': 'left',
	'r': 'right',
	't': 'top'
);
