if [ "$1" == 'nginx' ]; then
  docker build -f nginx/Dockerfile -t nginx ..

  docker tag nginx [nginx image repository URI]:latest

  $(aws ecr get-login --no-include-email)

  docker push [nginx image repository URI]:latest
else
  docker build -f blog_server/production/Dockerfile -t blog-server ..

  docker tag blog-server [blog-server image repository URI]:latest

  $(aws ecr get-login --no-include-email)

  docker push [blog-server image repository URI]:latest
fi
